body {
	margin: 0;
    padding: 0;
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	background-color: rgb(0, 0, 85);
	color: #fff;
	width: 100%;
	background-image: url("../images/background.png");
	background-repeat: no-repeat;
	background-attachment: fixed; 
    background-position: center; 
	background-size: cover;
}

a.skip {
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
	font-size: 24px;
	background-color: gray;
	color: rgb(255, 255, 255);
}

a.skip:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
	justify-content: space-around;
	padding-bottom: 5px;
	background-color: white;
}

#logo {
	width: 45%;
	max-width: 480px;
	background-color: white;
}

.nav_links {
    display: flex;
    flex-direction: column;
	justify-content: flex-end;
}

h1 {
	font-size: 48px; 
	font-weight: bold;
	text-align: center;
	color:white;
	padding: 50px 0;
	margin: 5px;
	border: dotted 5px yellow;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 35px;
	text-align: center;
}

nav a {
	text-decoration: none;
	color: rgb(0, 0, 0);
}

nav>a:visited {
	color: rgb(255, 255, 255);
}

/* challenge part */
nav li {
	display: inline-block;
	padding: 15px 20px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: black;
	background-color: rgb(253, 155, 172);
	border: 1px solid lightcoral;
	border-radius: 15px;
	box-shadow: 0 9px #999;
	margin: 5px;
  }

nav li:hover {
	background-color: lightpink;
}

nav li:active {
	background-color: lightpink;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

.active {
    background-color: rgb(193, 128, 255);
    font-weight: bold;
	font-size: 24px;
	text-transform: uppercase;
	border:3px solid rgb(147, 45, 243);
}

main p {
	font-family: Arial, Helvetica, sans-serif;
}

img {
	width: 325px;    
	border-radius: 10px;
	padding: 2px;
}

.home #main {
	padding: 5px 10px;
	background-color: pink;
	color: black;
}

.chinese #main,
.world #main,
.contact #main {
	font-size: 24px;
	background-color: darkslateblue;
	margin: 0px 10% 5px 10%;
	padding: 10px;
	border: 3px dashed darkgray;
	text-align: center;
}

#main p:nth-child(2) {
	font-size: 23px;
}

#story,
#xian,
#suzhou,
#spain,
#us,
.who {
	border: 2px solid rgb(6, 164, 216);
	padding: 5px 10px;
	background-color: rgb(37, 28, 100);
}

#chengdu,
#guangzhou,
#asia,
#england {
	padding: 5px 10px;
}

.single-img {
	width: 200px;
	height: auto;
}

.home img, 
.contact img {
	border: 2px solid rgb(255, 255, 255);
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

/* grid for chinese.html */
.chinese .gallery {
	display: grid;
	grid-template-rows: repeat(3, auto);
	justify-items: center;
}

.gallery h2 {
	margin: 5px 0;
}

.gallery p {
	margin-top: 5px;
}

#chengdu .grid-imgs {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	grid-gap: 5px;
}

#xian .grid-imgs {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	justify-items: center;
	grid-gap: 5px;
}

.grid-imgs #soup {
	grid-column: span 2;
	max-height: 100%;
	max-width: 50%;
}

#guangzhou .grid-imgs {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	justify-items: center;
	grid-gap: 5px;
	align-items: center;
}

.grid-imgs #jelly {
	grid-row: span 2;
}

.grid-imgs img {
	max-width: 100%;
}

/* flex for world.html */
.world .gallery {
	display: flex;
	flex-direction: column;
}

.flex-imgs {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.flex-imgs img {
	max-width: 40%;
}

/* contact.html*/
.contact p{
	font-size: 24px;
}

.who p {
	text-align: center;
	font-size: 24px;
	margin: 5px 0px;
}

form {
    background-color: deepskyblue;
	color: black;
    padding: 20px;
    margin: 5px 0px;
	max-width: 1024px;
	border-radius: 10px; 
}

input[type=text], 
input[type=email], 
textarea {
	width: 100%;
    padding: 20px;  
    border: 3px solid white; 
    border-radius: 10px; 
    box-sizing: border-box;
	resize: vertical; 
    margin: 10px;
    font-size: 18px;
}

textarea {
    height: 15vh;
}

input[type=submit] {
    background-color: rgb(6, 6, 172);
    width: 100px;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
}

#ending p {
	font-size: 11px;
	font-style: italic;
}

footer {
    background-color: darkslateblue;
    text-align: center;
    padding: 50px;
	display: grid;
	grid-template-rows: 2fr 1fr 2fr;
}

footer p {
	grid-row: 1 / 2;
}

footer .awe-icons {
	grid-row-start: 3;
}

footer a {
	color: white;
	margin: 5px;
}

footer a:visited {
	color: white;
}

/* flip card style */
.flip-card {
	cursor: pointer;
	perspective: 1000px;
	min-height: 310px;
	width: 100%;
}

.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner,
.flip-card:focus .flip-card-inner {
	transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
	width: 100%;
	position: absolute;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
}

.flip-card-back {
	transform: rotateY(180deg);
}

.flip-card-back h1 {
	color:yellow;
	border: none;
}

/* animation */
@keyframes logo_animation {
    from {width: 25px; opacity: 0;}
    to {width: 45%; opacity: 1;}
}

#logo {
    animation: logo_animation 4s;
}

@media screen and (prefers-reduced-motion: reduce) {
    * {
        animation: none;
		transform: none;
    }
}

/* tablet view */
@media screen and (min-width: 768px) {
	header {
		flex-direction: column;
	}

	.nav_links {
		flex-direction: row;
	}

	.home #main {
		display: grid;
		grid-template-rows: auto auto;
		grid-template-columns: 1fr 2fr;
		align-items: center;
	}

	.home #main h2 {
		grid-column: 2 / 3;
		margin: 10px;
	}

	.home #main img {
		grid-row: 1 / 3;
		width: 55%;
	}

	.home #main p {
		font-size: 26px;
		margin: 0px 30px;
	}

	.home #story p {
		font-size: 26px;
		margin: 10px 100px;
	}

	.flip-card {
		min-height: 220px;
	}

	.chinese .gallery {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 2fr;
		align-items: center;
	}

	.chinese .gallery:nth-child(2n+1) {
		justify-items: start;		
	}

	.chinese .gallery:nth-child(2n) {
		justify-items: end;		
	}

	#chengdu h2,
	#guangzhou h2 {
		grid-row: 1 / 2;
		grid-column: 1 / 2;
	}

	#chengdu p,
	#guangzhou p {
		grid-row: 2 / 3;
		grid-column: 1 / 2;
		margin-right: 20px;
	}
	
	#chengdu .grid-imgs,
	#guangzhou .grid-imgs {
		grid-row: 1 / 3;
		grid-column: 2 / 3;
	}

	#xian h2,
	#suzhou h2 {
		grid-row: 1 / 2;
		grid-column: 2 / 3;
	}

	#xian p,
	#suzhou p {
		grid-row: 2 / 3;
		grid-column: 2 / 3;
		margin-left: 20px;
	}

	#xian .grid-imgs,
	#suzhou .grid-imgs {
		grid-row: 1 / 3;
		grid-column: 1 / 2;
	}


	.world .gallery:nth-child(2n+1) {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	.world .gallery:nth-child(2n) {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-around;
	}

	.world .gallery:nth-child(2n+1) .flex-small {
		display: flex;
    	flex-direction: column;
    	justify-content: center;
    	align-items: flex-start;
	}

	.world .gallery:nth-child(2n) .flex-small {
		display: flex;
    	flex-direction: column;
    	justify-content: center;
    	align-items: flex-end;
	}

	#england img {
		max-width: 80%;
	}
}

/* desktop view */
@media screen and (min-width: 1025px) {
	header {
		flex-direction: row;
		justify-content: space-between;
	}
	
	.home #main {
		grid-template-columns: 1fr 1fr;
	}

	.home #main h2 {
		font-size: 50px;
	}
	
	.home #main img {
		width: 45%;
	}

	.home #main p,
	.home #story p {
		font-size: 26px;
	}

	h1 {
		font-size: 36px;
	}

	.flip-card {
		min-height: 160px;
	}

	.grid-large {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, auto);
	}

	#chengdu {
		grid-row: 1 / 2;
		grid-column: 1 / 2;
	}

	#xian {
		grid-row: 1 / 2;
		grid-column: 2 / 3;
	}

	#suzhou {
		grid-row: 2 / 3;
		grid-column: 1 / 2;
	}

	#guangzhou {
		grid-row: 2 / 3;
		grid-column: 2 / 3;
	}

	.chinese .gallery:nth-child(2n) {
		justify-items: start;		
	}

	#suzhou h2,
	#xian h2 {
		grid-row: 1 / 2;
		grid-column: 1 / 2;
	}

	#suzhou p,
	#xian p {
		grid-row: 2 / 3;
		grid-column: 1 / 2;
		margin-left: 0px;
		margin-right: 20px;
	}
	
	#suzhou .grid-imgs,
	#xian .grid-imgs {
		grid-row: 1 / 3;
		grid-column: 2 / 3;
	}

	.chinese .gallery p {
		font-size: 28px;
	}


	#england {
		border: 2px solid rgb(6, 164, 216);
		padding: 5px 10px;
		background-color: rgb(37, 28, 100);
	}

	#us {
		border: none;
		padding: 0;
		background-color: transparent;
	}

	.flex-large {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}

	.world .gallery {
		flex-basis: 46%;
		flex-grow: 0;
		flex-shrink: 0;
		font-size: 28px;
	}

	.world .gallery:nth-child(2n) {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	.world .gallery:nth-child(2n) .flex-small {
		display: flex;
    	flex-direction: column;
    	justify-content: center;
    	align-items: flex-start;
	}

	.world .gallery .flex-small {
		max-width: 45%;
	}

	.contact-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}

	.contact-grid img {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}

	.who {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
		margin: 40px 50px;
	}

	form {
		grid-column: 2 / 3;
		grid-row: span 2;
	}

}